{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InnovaPark</title>
    <link rel="stylesheet" href= '{% static "css/home.css %}' type="stylesheet">
</head>
<body>
    <header>
        <div id="logo">
            <!-- Coloca tu logo aquí -->
        </div>
    </header>
    <nav>
        <a href="/">Inicio</a>
        <a href="/estacionamientos">Estacionamientos</a>
        <a href="/servicios">Servicios</a>
        <div class="dropdown">
            {% if user.is_authenticated %}
            <button class="dropbtn">Perfil</button>
            <div class="dropdown-content">
                <a href="/salir">Cerrar Sesion</a>
            </div>
            {% else %}
            <button class="dropbtn">Iniciar Sesion Aqui!</button>
            <div class="dropdown-content">
                <div class="user-type">
                    <text>Que Tipo de Cuenta Eres: </text>
                    <a href="/login/persona">Persona</a>
                    <a href="/login/empresa">Empresa</a>
                </div>
            </div>
            {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <aside>
        <h2>Menú</h2>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/estacionamientos">Estacionamientos</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/login">Iniciar Sesion</a></li>
        </ul>
    </aside>
    <main>
        <section id="content">
            <h1>Contenido</h1>
            <p>Este es el contenido de la página.</p>
            <article>
                <h2>Artículo 1</h2>
                <p>Este es el contenido del artículo 1.</p>
            </article>
            <article>
                <h2>Artículo 2</h2>
                <p>Este es el contenido del artículo 2.</p>
            </article>
        </section>
    <footer>
        <p>&copy; 2023 Gestión de Cuentas de Usuarios</p>
    </footer>

</body>
</html>
