{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-enquiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SedeParking</title>
    <link rel="stylesheet" href="{% static "css/layout.css" %}">
</head>
<body>
    <nav>
        <a href="/">SedeParking</a> 
        <ul>
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="/usuario">Perfil</a></li>
            <li><a href="/salir">Salir</a></li>
            {% else %}
            <li><a href="/ingresar">Ingreso</a></li>
            <li><a href="/registro">Registro</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
<script src="{% static "js/layout.js" %}"></script>
</html>
