<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link type="text/css" href= "{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>
    <form method="POST" autocomplete="on">
        {% csrf_token %}
        <h3>Iniciar Sesión</h3>
        <br>
        <p>¿Qué tipo de cuenta eres?</p>
        <br>
        <div class="container">
            <div class="switch-container">
                <div class="button wow fadeInUp"> 
                    <a href="http://127.0.0.1:8000/login/persona" class="btn">Personal</a>
                </div>
                <div class="button wow fadeInUp">
                    <a href="http://127.0.0.1:8000/login/empresa" class="btn">Empresarial</a>
                </div>  
            </div>
        </div>
        <fieldset>
            <legend><h4>Empresas</h4></legend>
            <br>
            <label for="rut">Rol Único Tributario:</label>
            <input type="text" id="rut" name="rut" placeholder="Rol Único Tributario" required>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required autocomplete="current-password">
            <br>
            <div class="button wow fadeInUp">
                <button class="btn" type="submit">Iniciar Sesión</button>
            </div>
        </fieldset>
        <div style="margin-top: 20px;"> 
            <p>¿No tienes una cuenta? <a href="http://127.0.0.1:8000/registro/persona">Crear Cuenta</a></p>
        </div>
        <br>
        <div>
            {{ error }}
        </div>

        <div style="margin-top: 20px;"> 
            <p>Inicia sesión en tu cuenta empresarial en InnovaPark para asignar espacios, 
            <p>supervisar reservas y aprovechar herramientas exclusivas.</p>
            <br>
            <br>
            <p>Accede a las herramientas empresariales.</p>
        </div>
    </form>
</body>
</html>
