<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InnovaPark</title>
    <link type="text/css" href= "{% static 'css/registro.css' %}" rel="stylesheet">
</head>
<body>
    <form method="POST" autocomplete="on">
        {% csrf_token %}
        <h1>Crear Cuenta</h1>
        <br>
        <p>¿Qué tipo de cuenta quieres crear?</p>
        <br>
        <div class="container">
            <div class="switch-container">
                <div class="button wow fadeInUp"> 
                    <a href="/registro/persona" class="btn">Personal</a>
                </div>
                <div class="button wow fadeInUp">
                    <a href="/registro/empresa" class="btn">Empresarial</a>
                </div>  
            </div>
        </div>
        <fieldset>
            <legend><h3>Personal</h3></legend>
            <br>
            <label for="username">Nombre de usuario</label>
            <input type="text" name="username" id="username" placeholder="Nombre de usuario" required>
            <label for="email">Correo electrónico</label>
            <input type="email" name="email" id="email" placeholder="Correo electrónico" required>
            <label for="password1">Contraseña</label>
            <input type="password" name="password1" id="password1" placeholder="Contraseña" required>
            <label for="password2">Confirmar contraseña</label>
            <input type="password" name="password2" id="password2" placeholder="Confirmar contraseña" required>
            <input type="hidden" name="role" id="role" value="Persona">
            <br>
            <div class="button wow fadeInUp">
                <button class="btn" type="submit">Crear Cuenta</button>
            </div>
        </fieldset>
        <div style="margin-top: 20px;"> 
            <p>¿Ya tienes una cuenta? <a href="http://127.0.0.1:8000/login/persona">Inicia sesión</a></p>
        </div>
        <br>
        <div>
            {{ error }}
        </div>

        <div style="margin-top: 20px;"> 
            <p>¡Bienvenido a InnovaPark, tu compañero de estacionamiento personal!</p>
            <p>Con tu cuenta, accede a reservas rápidas,</p> 
            <p>notificaciones instantáneas y una experiencia de estacionamiento sin preocupaciones.</p>
            <br>
            <p>Haz de cada parada una transición suave en tu día!</p>
        </div>
    </form>
</body>
</html>
