<!DOCTYPE html>
{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InnovaPark</title>
    <link type="text/css" href= "{% static 'css/user_per.css' %}" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
   
    <!-- preloader section -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-wordpress">
       <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- header section -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h1 class="tm-title bold shadow">{{ username }}</h1>
				<h1 class="white bold shadow">Siente la innovación en cada reserva con InnovaPark.</h1>
                <hr>
			</div>
		</div>
	</div>
</header>

<!-- education and languages -->
<section class="container">
	<div class="row">
		<div class="col-md-8 col-sm-12">
			<div class="form-group">
                <fieldset>
                    <legend >Búsca tu Estacionamientos</legend>
                        <form method="post">
                            {% csrf_token %}
                            <ul>
                                <li>
                                    <label for="location">Ubicación del estacionamiento:</label>
                                    <input type="text" id="location" name="location" required>
                                </li>
                                <br>
                                <li>
                                    <label for="startTime">Fecha y hora de inicio:</label>
                                    <input type="datetime-local" id="startTime" name="startTime" required>
                                </li>
                                <br>
                                <li>
                                    <label for="duration">Duración de la reserva (en horas):</label>
                                    <input type="number" id="duration" name="duration" required>
                                </li>
                            </ul>
                            <button type="submit">Buscar Estacionamientos</button>
                        </form>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend>Resultados de la Búsqueda</legend>
                        <div class="form-result">
                            {% if search_results %}
                        <ul>
                            {% for result in search_results %}
                            <li>{{ result.name }} - {{ result.location }} - Disponibilidad: {{ result.available }} plazas</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>No se encontraron resultados para la búsqueda.</p>
                        {% endif %}
                    </div>    
            </div>
        </div>
    </div>
</section>

<div class="profile-container">
    <h1>Bienvenido</h1>
    <div class="acciones">
        <h3>Descarga nuestra App</h3>
        <a href="#" class="boton-descargar">Descargar la App</a>
    <selection class="profile-accion">
        <img src="{% static 'img/user.png' %}" alt="Foto de perfil" class="profile__avatar">

        <h2 class="profile__name">Nombre de Usuario</h2>
        <p class="profile__web">www.mipagina.com</p>
        <p class="profile__bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
    </selection>
    </div>

</div>

<script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</script>
</body>
</html>
